{% extends 'layout.html' %}
{% block title %}Flask - Large Application Template{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Flask - Large Application Template</h1>
  </div>
  <div>
    <p>
      <b>Me: </b>
      Hello World 😃
    </p>
    <p>
      <b>World: </b>
      if you say "Hello World" one more time... 😡
    </p>
    <p>
      <b>Me: </b>
      Never mind... 😄😅
    </p>
  </div>
  <hr>
  <footer>
    No Copy Rights Reserved, Yay 😄
  </footer>
</div>
{% endblock %}
